<!-- <ul>
    <li *ngFor="let item of url"><a href="{{item.path}}">{{item.titulo}}</a></li>
</ul> -->


<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <div class="sb-sidenav-menu-heading">Gestion Cuentas</div>
                <!-- <ul>
                    <li *ngFor="let item of url"><a href="{{item.path}}">{{item.titulo}}</a></li>
                </ul> -->
                <a class="nav-link" *ngFor="let item of url_GestionCuenta" href="{{item.path}}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    {{item.titulo}}
                </a>

                <div class="sb-sidenav-menu-heading">Gestion Proyectos</div>

                <a class="nav-link" *ngFor="let item of url_GestionProyectos" href="{{item.path}}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    {{item.titulo}}
                </a>



            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>