<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tools"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Tools <sup>2</sup></div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/'">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Contenido
    </div>

    <li class="nav-item" *ngFor="let itemMenu of data;index as i">
        <a class="nav-link collapsed" routerLink="{{itemMenu.url}}" data-toggle="collapse" aria-expanded="true"
            [attr.aria-controls]="('collapseTwo_'+i)" [attr.data-target]="('#collapseTwo_'+i)">
            <i class="{{itemMenu.icono}}"></i>&nbsp;
            <span>{{itemMenu.titulo}}</span>
        </a>
        <div id="collapseTwo_{{i}}" class="collapse" routerLinkActive="router-link-active show here"
            aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Configuración:</h6>

                <a class="collapse-item" routerLinkActive="active" *ngFor="let subitemMenu of itemMenu.subMenu"
                    routerLink="{{subitemMenu.url}}">{{subitemMenu.titulo}}</a>

            </div>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>